<div class="leftbox"> 
<div class="left_wrapper"> 
	<div class="box" > 
    <h1>文章发布</h1> 
</div>
 
  <div class="box" style="margin-top:20px;"> 
    <div class="inner" style="line-height:180%;padding:8px;background:#fff5c9;"> 
     祝你在这里玩的愉快!
    </div> 
  </div> 
  
  
</div> 
 
	
	 
	  <!--侧边栏 开始 -->
<div class="sidebar" > 
<div class="box"> 
	 <h2>还没有帐号？</h2> 
  <a href="/admin/register">注册</a><br /> 
  <a href="/forgetPasswd">忘记了密码?</a><br /> 
</div> 
</div> 
	  <!-- 侧边栏结束 -->
	  
</div>