
/* ENTRY */

.entry
{
	margin: 15px 30px;
}

.entry-title
{
	width:50% ;
	height:25px;
	font-weight:600;
	font-size:15px;
	background-color:#eeeeee;
	padding-top:5px;
	text-indent:10px;
	border:solid #e7e8d8 1px;
	border-bottom:solid #888888 1px;
	border-right:solid #888888 1px;
}

.entry-author
{
	margin: 10px 0;
	border-top: 1px dashed #999;
	padding: 4px 0 0;
}

.entry-content
{
	font-size: 12px;
	line-height: 180%;
}


.entry-content table
{
	border:1px solid;
}


.entry-content tr td
{
	border:1px solid #aaaaaa;
}

.entry-reply
{
	display: block;
	border: 1px solid #ddd;
	background: #f7f7f7;
	padding: 4px 14px 4px 8px;
	margin: 16px 0 8px;
}

.entry-toolbar
{
	float: right;
}

.entry-status
{
	margin: 10px 0;
	font-style: italic;
}

.entry-nav
{
	width: 100%;
	margin: 30px 0 10px;
}

.postform
{
	margin-top: 60px;
}
