
/* SITEMAPA BUTTONS */

#ctl00_sitemapan0 .item a
{
	background: url("/images/sitemapa-item0.gif") no-repeat;
    width: 96px;
}
#ctl00_sitemapan0 .item-hover a
{
	background: url("/images/sitemapa-item0.gif") no-repeat bottom;
}
#ctl00_sitemapan0 .item-selected a
{
	background: url("/images/dark-sitemapa-item0-selected.gif");
}






#ctl00_sitemapan1 .item a
{
	background: url("/images/sitemapa-item1.gif") no-repeat;
}
#ctl00_sitemapan1 .item-hover a
{
	background: url("/images/sitemapa-item1.gif") no-repeat bottom;
}
#ctl00_sitemapan1 .item-selected a
{
	background: url("/images/sitemapa-item1-selected.gif");
}




#ctl00_sitemapan2 .item a
{
	background: url("/images/sitemapa-item2.gif") no-repeat;
}
#ctl00_sitemapan2 .item-hover a
{
	background: url("/images/sitemapa-item2.gif") no-repeat bottom;
}
#ctl00_sitemapan2 .item-selected a
{
	background: url("/images/sitemapa-item2-selected.gif");
}


#ctl00_sitemapan3 .item a
{
	background: url("/images/sitemapa-item3.gif") no-repeat;
	
}
#ctl00_sitemapan3 .item-hover a
{
	background: url("/images/sitemapa-item3.gif") no-repeat bottom;
}
#ctl00_sitemapan3 .item-selected a
{
	background: url("/images/sitemapa-item3-selected.gif");
}


#ctl00_sitemapan4 .item a
{
	background: url("/images/sitemapa-item5.gif") no-repeat;
}
#ctl00_sitemapan4 .item-hover a
{
	background: url("/images/sitemapa-item5.gif") no-repeat bottom;
}
#ctl00_sitemapan4 .item-selected a
{
	background: url("/images/sitemapa-item5-selected.gif");
}

#ctl00_sitemapan5 .item a
{
	background: url("/images/sitemapa-item4.gif") no-repeat;
}
#ctl00_sitemapan5 .item-hover a
{
	background: url("/images/sitemapa-item4.gif") no-repeat bottom;
}
#ctl00_sitemapan5 .item-selected a
{
	background: url("/images/sitemapa-item4-selected.gif");
}

#ctl00_sitemapan6 .item a
{
	background: url("/images/sitemapa-item6.gif") no-repeat;
}
#ctl00_sitemapan6 .item-hover a
{
	background: url("/images/sitemapa-item6.gif") no-repeat bottom;
}
#ctl00_sitemapan6 .item-selected a
{
	background: url("/images/sitemapa-item6-selected.gif");
}

#ctl00_sitemapan7 .item a
{
	background: url("/images/sitemapa-item7.gif") no-repeat;
	width: 96px;
}
#ctl00_sitemapan7 .item-hover a
{
	background: url("/images/sitemapa-item7.gif") no-repeat bottom;
}
#ctl00_sitemapan7 .item-selected a
{
	background: url("/images/sitemapa-item7-selected.gif");
}

/* DARK SITEMAPA BUTTONS */

.dark #ctl00_sitemapan0 .item a
{
	background: url("/images/dark-sitemapa-item0.gif") no-repeat;
    width: 96px;
}
.dark #ctl00_sitemapan0 .item-hover a
{
	background: url("/images/dark-sitemapa-item0.gif") no-repeat bottom;
    width: 96px;
}
.dark #ctl00_sitemapan0 .item-selected a
{
	background: url("/images/dark-sitemapa-item0-selected.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item0-selected.gif*/;
    width: 96px;
}

.dark #ctl00_sitemapan1 .item a
{
	background: url("/images/dark-sitemapa-item1.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item1.gif*/ no-repeat;
    width: 95px;
}
.dark #ctl00_sitemapan1 .item-hover a
{
	background: url("/images/dark-sitemapa-item1.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item1.gif*/ no-repeat bottom;
    width: 95px;
}
.dark #ctl00_sitemapan1 .item-selected a
{
	background: url("/images/dark-sitemapa-item1-selected.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item1-selected.gif*/;
    width: 95px;
}

.dark #ctl00_sitemapan2 .item a
{
	background: url("/images/dark-sitemapa-item2.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item2.gif*/ no-repeat;
    width: 95px;
}
.dark #ctl00_sitemapan2 .item-hover a
{
	background: url("/images/dark-sitemapa-item2.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item2.gif*/ no-repeat bottom;
    width: 95px;
}
.dark #ctl00_sitemapan2 .item-selected a
{
	background: url("/images/dark-sitemapa-item2-selected.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item2-selected.gif*/;
    width: 95px;
}

.dark #ctl00_sitemapan3 .item a
{
	background: url("/images/dark-sitemapa-item3.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item3.gif*/ no-repeat;
    width: 95px;
}
.dark #ctl00_sitemapan3 .item-hover a
{
	background: url("/images/dark-sitemapa-item3.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item3.gif*/ no-repeat bottom;
    width: 95px;
}
.dark #ctl00_sitemapan3 .item-selected a
{
	background: url("/images/dark-sitemapa-item3-selected.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item3-selected.gif*/;
    width: 95px;
}

.dark #ctl00_sitemapan4 .item a
{
	background: url("/images/dark-sitemapa-item4.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item4.gif*/ no-repeat;
    width: 95px;
}
.dark #ctl00_sitemapan4 .item-hover a
{
	background: url("/images/dark-sitemapa-item4.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item4.gif*/ no-repeat bottom;
    width: 95px;
}
.dark #ctl00_sitemapan4 .item-selected a
{
	background: url("/images/dark-sitemapa-item4-selected.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item4-selected.gif*/;
    width: 95px;
}

.dark #ctl00_sitemapan5 .item a
{
	background: url("/images/dark-sitemapa-item5.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item5.gif*/ no-repeat;
    width: 95px;
}
.dark #ctl00_sitemapan5 .item-hover a
{
	background: url("/images/dark-sitemapa-item5.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item5.gif*/ no-repeat bottom;
    width: 95px;
}
.dark #ctl00_sitemapan5 .item-selected a
{
	background: url("/images/dark-sitemapa-item5-selected.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item5-selected.gif*/;
    width: 95px;
}

.dark #ctl00_sitemapan6 .item a
{
	background: url("/images/dark-sitemapa-item6.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item6.gif*/ no-repeat;
    width: 95px;
}
.dark #ctl00_sitemapan6 .item-hover a
{
	background: url("/images/dark-sitemapa-item6.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item6.gif*/ no-repeat bottom;
    width: 95px;
}
.dark #ctl00_sitemapan6 .item-selected a
{
	background: url("/images/dark-sitemapa-item6-selected.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item6-selected.gif*/;
    width: 95px;
}

.dark #ctl00_sitemapan7 .item a
{
	background: url("/images/dark-sitemapa-item7.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item7.gif*/ no-repeat;
	width: 96px;
}
.dark #ctl00_sitemapan7 .item-hover a
{
	background: url("/images/dark-sitemapa-item7.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item7.gif*/ no-repeat bottom;
	width: 96px;
}
.dark #ctl00_sitemapan7 .item-selected a
{
	background: url("/images/dark-sitemapa-item7-selected.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-sitemapa-item7-selected.gif*/;
	width: 96px;
}
/* SITEMAPB BUTTONS */

#ctl00_sitemapbn0 .item td
{
   border: none;
}
