/*1312919445,169776318*/

.devsitePage .developerAppDetailsRight{background-color:#f2f2f2;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.devsitePage .developerAppDetailsRight .developerAppDetailsSectionHeader{background-color:#e7e7e7;border-top:1px solid #d0d0d0;margin-bottom:10px}
.devsitePage #developerAppHeader{font-size: 19px;font-weight:bold;padding:0 0 10px 0}
.devsitePage #developerAppHeader a{color:#333}
.devsitePage .developerAppDetailsRight .developerAppDetailsFormFooter{border-top:1px solid #d9d9d9;padding:5px 0 0 0}
.devsitePage .developerAppDetailsRight .headerColumn{color:#666;padding:8px 10px 0 0;text-align:right}
.devsitePage .developerAppDetailsRight .headerColumn .noTooltip{padding:0 17px 0 0}
.devsitePage .developerAppDetailsRight .contentPane{padding:4px 10px 4px 10px}
.devsitePage .developerAppDetailsRight .immutableRow{padding:4px 0 4px 10px}
.devsitePage .developerAppDetailsRight select{height:22px}
.devsitePage .developerAppDetailsRight
.developerAppDetailsFormFooter .developerAppDetailsFormGrid{margin:0}
.devsitePage #developerAppDashboardContainer{border-top:1px solid #d9d9d9;padding:10px 0}
.devsitePage #developerAppDetailsContent
.developerAppPermissionsRoleTypeahead .inputtext{width:220px}
.devsitePage .developerAppDetailsRadioRow{padding:3px}
.devsitePage .fbFeedbackContent li,
.devsitePage .fbFeedbackContent .fbFeedbackContentHeader{padding:10px 10px 10px 10px}
.devsitePage .fbFeedbackContent .fbModeratorQueueActionBar{padding:8px 10px 1px 10px}
.devsitePage .fbCommentModeration .commentContent{border-top:1px solid #d9d9d9;padding:0;width:100%}
.devsitePage .fbFeedbackContent .fbFeedbackPostsContainer{min-height:150px;max-height:none;overflow-y:hidden}
.devsitePage a.uiTooltip:hover{cursor:default}
.devsitePage a.uiTooltip:hover,
.devsitePage a.fbGlossaryTip:hover{text-decoration:none}
.devsitePage .body .developerAppSectionBanner table{margin:0}
.devsitePage .developerAppDetailsLeft .toplevelnav li a{font-size: 13px;padding:4px 4px 4px 10px}
.devsitePage .developerAppDetailsLeft .toplevelnav ul.subsections li a{font-size: 12px;padding:1px 6px}
.devsitePage .developerAppRoleRemoveNotification{height:24px;padding:16px 4px 8px 4px;width:210px}
.devsitePage .body table.developerAppTestAccountTable td, th .columnLabel{font-size: 12px;vertical-align:middle}
.devsitePage table.uiDataTable thead tr th{padding:0}
.devsitePage table.uiDataTable tr td.firstRow,
.devsitePage table.uiDataTable tr td.lastRow{padding:4px;text-align:center}
table.developerAppTestAccountTable .odd td{background-color:#e4e4e4}
.devsitePage .dialogInfoTableCheckbox{height:10px;margin-left:-3px;padding-top:1px}
html body{background:#e7e7e7}
.devsitePage{font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;font-size: 12px;color:#333;margin:0;min-width:1024px;font-size: 12px}
.devsitePage a{color:#3b5998;text-decoration:none}
.devsitePage a:hover{text-decoration:underline}
.devsitePage a.uiButton:hover,
.devsitePage a.itemAnchor:hover{text-decoration:none}
.devsitePage img{border:0}
.devsitePage table{border:0;margin:0;border-collapse:collapse;border-spacing:0}
.devsitePage table td,
.devsitePage table th{border:0;padding:0;text-align:left;vertical-align:top}
.devsitePage table th{font-weight:bold}
.devsitePage h1,
.devsitePage h2,
.devsitePage h3,
.devsitePage h4{margin:0;padding:0;border:0}
.devsitePage .clear{clear:both}
.devsitePage .body .content{
                            margin:auto;
                            max-width:940px
                           }
.devsitePage .header,
.devsitePage .body,
.devsitePage .body p,
.devsitePage .body ul,
.devsitePage .body ol,
.devsitePage .body li,
.devsitePage .body th,
.devsitePage .body th,
.devsitePage .body td{font-size: 13px}
.devsitePage .body pre,
.devsitePage .body p,
.devsitePage .body li,
.devsitePage .body dt,
.devsitePage .body dd,
.devsitePage .refindex .page,
.devsitePage .body textarea,
.devsitePage .body td{line-height:18px}
.devsitePage dl,
.devsitePage dt,
.devsitePage dd{margin:0}
.devsitePage dd,
.devsitePage .refindex .page{margin-bottom:10px}
.devsitePage dd p,
.devsitePage .refindex .page .snippet p{margin:0}
.devsitePage dt,
.devsitePage .refindex .page .title{font-weight:bold}
.devsitePage dt a.private,
.devsitePage .refindex .page .title a.private,
.devsitePage .bodyMenu li a.private{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/uADs2cgkzVe.png) no-repeat left center;padding-left:13px}
.devsitePage .metanotice{background:#fff9d7;border:1px solid #e2c822;padding:1em;margin:1em}
.devsitePage textarea{resize:none}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{display:block;zoom:1}
.devsitePage #DeveloperAppBody > .content{padding-top:60px}
.devsitePage .devAppTitle{font-size: 19px}
.devsitePage #developerAppNav ul{padding-left:0}
.devsitePage .developerAppDashLeft{border-top:1px solid #ccc;width:20%;float:left}
.devsitePage .developerAppDashRight{width:80%;float:right}
.devsitePage .developerAppDetailsLeft{width:20%;float:left}
.devsitePage .developerAppDetailsRight{width:80%;float:right}
.devsitePage #DeveloperAppDashHeader{margin:-8px 0 6px -4px}
.devsitePage #developerAppHeader{margin:-8px 0 -8px 0}
.devsitePage #DeveloperAppDashHeader{min-height:32px !important}
.devsitePage .dashboardHeader .dashboardTitle{font-size: 19px;font-weight:bold}
.devsitePage .dashboardHeader .dashboardTitle a{color:#000}
.devsitePage .dashboardHeader .appTypeahead{display:inline-block;margin:0 5px 0 0}
.devsitePage .uiTypeahead ul{margin:2px 0;padding:0}
.devsitePage .developerAppDashLeft .toplevelnav ul li a.aWrap{background-position:135px 10px}
.devsitePage .developerAppDashLeft .toplevelnav ul li a div.navSectionTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:123px}
.devsitePage .developerAppDashLeft .bodyMenu li{padding-bottom:3px}
.devsitePage .developerAppDashLeft .bodyMenu li a,.devsitePage .developerAppDashLeft .bodyMenu li a.selected{padding:5px 6px 0 10px}
.devsitePage .developerAppDashLeft .bodyMenu ul li img.imgWrap{float:left;height:16px;margin:4x 0 0 5px;width:16px}
.devsitePage .directoryStatus,.devsitePage span.dirPending,.devaitePage span.dirUnsubmitted{color:#666}
.devsitePage .appNameTitleBar{font-size: 19px}
.devsitePage img.appLogo{max-height:40px;width:40px}
.devsitePage span.dirApproved{color:#008000}
.devsitePage span.dirDenied{color:#a00}
.devsitePage .body h3.uiHeaderTitle,.devsitePage .body #developerAppDetailsContent p{font-size: 12px;margin:0}
.devsitePage #developerAppDashContent td,.devsitePage #developerAppDetailsContent td,.devsitePage #developerAppDetailsContent div{line-height:normal;font-size: 12px}
.devsitePage td.overviewHeaderColumn{width:100px}
.devsitePage td.headerColumn{width:220px}
.devsitePage #developerAppDashContent td.contentColumn div{width:250px}
.devsitePage #developerAppDashContent td.contentPane{padding:0}
.devsitePage #developerAppDashContent #test_accounts{padding:5px}
.devsitePage .uiFacepile ul{padding:0}

/*
.devsitePage div.content_loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/jKEcVPZFk-2.gif) center no-repeat;height:400px;min-width:250px;overflow:hidden}

*/
.devsitePage .noApps{font-size: 13px;font-weight:bold;padding:20px 0;text-align:center}
.devsitePage #developerAppDetailsContent td.contentPane,.devsitePage #developerAppDetailsContent .inputtext{width:400px}
.devsitePage #developerAppDetailsContent .textfield_array_input_text{width:80%}
.devsitePage #developerAppDetailsContent .shortinput .inputtext{width:140px}
.devsitePage #developerAppDashContent .devAppInsights .fbInsightsTinyStatistic{float:right}
.devsitePage #developerAppDashContent .editSettings{text-align:center}
.devsitePage #contentCol{background:none;padding-top:8px}
.devsitePage .developerAppDashLeft .toplevelnav a,.devsitePage .developerAppDashLeft .toplevelnav a:hover,.devsitePage .uiTypeahead li{font-size: 12px}
.devsitePage .throbber{text-align:center;vertical-align:middle}
.devsitePage img.throbber{display:inline-block;padding-bottom:8px;visibility:hidden}
.devsitePage .async_saving img.throbber{visibility:visible}
.devsitePage .developerAppDashLeft .seeAllApps{margin:10px 0;text-align:center}
.devsitePage .developerAppDashLeft .newAppButton{width:162px}
.devsitePage .developerAppAccessToken{display:inline}
.devsitePage .developerAppDashRight .name,.devsitePage .developerAppDashRight .desc{margin-left:105px}
.devsitePage .developerAppDashRight .thumbnail .img{border:none}

/*
.devsitePage .home .header{background:#f2f2f2 url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/e4jQ5MXLYQ8.png)

*/
top center no-repeat;border:1px solid #ddd;height:302px;margin-top:-7px}
.devsitePage .home .header .content{padding:70px 235px 0 330px;width:385px}
.devsitePage .home .header h1{font-size: 31px;font-weight:normal}
.devsitePage .home .header .subtitle{margin:15px 0;font-size: 15px;color:#808080;line-height:18px}
.devsitePage .home .header a.button{cursor:pointer;text-indent:0}

/*
.devsitePage .home .header a.button span{display:inline-block;background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yA/r/5avmcNdTn0T.png) 7px center no-repeat;padding-left:20px}

*/
.devsitePage .body .section{float:left;width:300px}
.devsitePage .body .section h2{font-weight:bold;font-size: 14px;border-bottom:1px solid #d2d2d2;padding:0 0 10px 0;margin:0 0 15px 0}
.devsitePage .body .section .caption{font-size: 12px;line-height:14px;color:#808080}
.devsitePage .body .section ul li{margin-bottom:10px}
.devsitePage .body .sectionApps,
.devsitePage .body .sectionNew{margin-right:20px}
.devsitePage .body .sectionApps ul{list-style:none;margin:0;padding:0}
.devsitePage .body .sectionApps ul li{margin-bottom:5px}
.devsitePage .body .sectionApps ul li .image{float:left;margin-right:5px}
.devsitePage .body .sectionApps ul li .item{padding:7px 0}
.devsitePage .body .sectionApps ul li a{font-weight:bold}
.devsitePage .body .sectionNew ul{list-style:none;margin:0;padding:0}

/*
.devsitePage .body .sectionNew ul li{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yY/r/1gBp2bDGEuh.gif) 0 2px no-repeat;padding-left:22px}

*/
.devsitePage .body .sectionNew ul li .title{font-weight:bold}
.devsitePage .body .sectionNew ul li.readmore{background:none}

/*
.devsitePage .body .sectionNew ul li.readmore a{font-weight:bold;background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yI/r/llncLdVc0JC.gif) no-repeat right center;padding-right:9px}

*/
.devsitePage .body .sectionShowcase .caption{margin-top:15px}
.devsitePage .plugin_form{float:left;background:#efefef;margin:10px 20px 15px 0;padding:10px;border-top:solid #C1C1C1 1px;width:220px}
.devsitePage .plugin_form dt{color:#666}
.devsitePage .plugin_form dt a.uiTooltip{font-weight:normal;font-size: 12px}
.devsitePage .plugin_form dd{padding:5px 0 10px 0;border-bottom:solid #D0D0D0 1px;margin-bottom:5px}
.devsitePage .plugin_form dd label{color:#000;font-weight:normal}
.devsitePage .plugin_form .wideinputtext{width:210px}
.devsitePage .plugin_example{float:left;width:420px;padding:10px}
.devsitePage .dark_background{background-color:#333}
.devsitePage .nofloat{float:none}
.dialog_body{padding-bottom:0}
.dialog_body .code{margin-bottom:16px}
.dialog_body .code div{margin:5px 0}
.dialog_body .code input,.dialog_body .code textarea{width:416px}

.devsitePage .body > .content{
          background:#fff;
          border:1px solid #d9d9d9;
          border-top:0;
          -webkit-box-shadow:#ddd 0 1px 1px;
          padding:75px 20px 20px
    }

/*
.devsitePage .nav > .content{
background:#fff url(http://1static.ak.fbcdn.net/rsrc.php/v1/yz/r/coK3kMStN_j.gif) repeat-y
}
*/


.devsitePage .body ol,.devsitePage .body ul{list-style-type:disc;padding-left:3em}
.devsitePage .body .uiSelector ul,.devsitePage .body ul.uiList{list-style-type:none;margin:0;padding-left:0}
.devsitePage .body ol{list-style-type:decimal}
.devsitePage .body strong{font-weight:bold}
.devsitePage em,.devsitePage .body i{font-style:italic}
.devsitePage .body h1{font-size: 29px;font-weight:normal;margin:0;margin-bottom:8px}
.devsitePage .body h2{font-size: 21px;font-weight:normal;letter-spacing:-0.03em;margin:25px 0 15px 0}
.devsitePage .body h3{font-size: 16px;margin:15px 0 10px 0}
.devsitePage .body dl,.devsitePage .body table,.devsitePage .body pre,.devsitePage .body ul,.devsitePage .body ol,.devsitePage .body p{margin:0;margin-bottom:1em}
.devsitePage .body pre,.devsitePage .body code,.devsitePage .body table.params td.name{font-family:monospace;color:#006000;font-size: 14px}
.devsitePage .body h2 code{font-size:inherit}
.devsitePage .body pre,.devsitePage .body .pre{background:#f2f2f2;border:1px solid #d8dfea;border-left-width:3px;margin:18px;padding-top:7px;padding-bottom:7px;padding-left:10px;overflow:auto}
.devsitePage .body table{margin-bottom:1em}
.devsitePage .body table td,.devsitePage .body table th{border:1px solid #ddd;text-align:left;padding:6px;padding-top:4px;padding-bottom:4px;padding-right:10px;vertical-align:top}
.devsitePage .body table.noborder td{border:0}
.devsitePage .body table.bordered td,.devsitePage .body table.bordered th{border:1px solid #ddd}
.devsitePage .body table.uiGrid td{border:0}
.devsitePage .body table td p:last-child{margin-bottom:0}
.devsitePage .body table.uiInfoTable{width:auto}
.devsitePage .body table.uiInfoTable td,.devsitePage .body table.uiInfoTable th{border:0;padding:6px;width:auto;height:auto;vertical-align:middle}
.devsitePage .body table.uiInfoTable th{width:auto}
.devsitePage .footer{color:#777;padding-bottom:30px}
.devsitePage .footer .content{margin:0 auto;max-width:980px;padding:10px}
.devsitePage .footer .copyright{float:left}
.devsitePage .footer .links{text-align:right}
.devsitePage .footer .links a{margin-left:15px}
.devsitePage .header{background:white;border-bottom:1px solid #ddd;margin-bottom:20px;padding-bottom:25px;padding-top:0}
.devsitePage .header h1{margin:0;font-size: 25px;font-weight:normal}
.devsitePage .header h1 a{color:#333;text-decoration:none}
.devsitePage .header .breadcrumbs{margin-top:4px}
.devsitePage div.admin{background:#eee;border:1px solid #ddd;float:right;font-size: 12px;z-index:0;padding:8px;position:relative}
.devsitePage div.admin a{margin:0 6px}

/*
.devsitePage div.admin a.gatekeeper{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/uADs2cgkzVe.png) no-repeat left center;padding-left:12px;font-weight:bold}

*/
.devsitePage .body .titleblock{margin:20px 0}
.devsitePage .body .titleblock h1{font-size: 25px;font-weight:normal;padding:0}
.devsitePage .body .titleblock h3{color:#797c80;font-size: 17px;font-weight:normal;line-height:22px;margin:0 0 3px 0;padding:0}
.devsitePage .body .titleblock div.stats{margin-top:20px}
.devsitePage .body .titleblock .statsbox{background:#eee;float:right;padding:20px 20px 10px 20px;width:200px}
.devsitePage .body .titleblock div.stats .statsbox li{color:#333;font-size: 12px;line-height:14px}
.devsitePage .body .titleblock div.stats ul{color:#627aad;list-style-type:square;padding:0 0 0 17px}
.devsitePage .body .titleblock div.stats li{font-size: 15px;line-height:22px;margin-bottom:5px}
.devsitePage .body .titleblock div.stats li span{color:#333}
.devsitePage .body .titleblock img{float:left;height:65px;margin:0 10px 0 0}
.devsitePage .body p.intro{color:#797c80;font-size: 15px;line-height:21px;margin-bottom:20px}
.devsitePage .body p.intro b{color:#444}
.devsitePage .body .contentblock{clear:right;float:left;margin:1.5em 0;position:relative;width:100%}
.devsitePage .body hr{clear:right;margin:20px 0}
.devsitePage .body h3{margin-top:25px}
.devsitePage .body .contentblock h2{margin:0 0 15px 0;padding:0}
.devsitePage .body .contentblock h2.mbn{margin:0}
.devsitePage .body .contentblock h3{color:#999;font-size: 14px;font-weight:normal;margin:0 0 20px 0}
.devsitePage .body .contentblock h4{color:#000;font-size: 15px;font-weight:bold;line-height:18px;margin-bottom:4px}
.devsitePage .body .contentblock p{color:#333;font-size: 13px;line-height:18px;margin-bottom:18px}
.devsitePage .body .contentblock a.more{background:url(/attachment/more.png) no-repeat 100% 3px;padding-right:10px}
.devsitePage .body .contentblock img.right{float:right;margin:0 0 10px 20px}
.devsitePage .body .contentblock img.left{display:table-cell;float:left;margin:0 20px 10px 0}
.devsitePage .body .contentblock img.bleed{margin-right:-16px}
.devsitePage .body .contentblock img.bordered{border:1px solid #ddd;margin-bottom:10px;padding:5px}
.devsitePage .body .contentblock ol{margin:10px 0;padding:0 0 0 23px}
.devsitePage .body .contentblock ol li{margin-bottom:10px}
.devsitePage .body .fleft{float:left;width:357px}
.devsitePage .body .fright{float:right;width:357px}
.devsitePage .body .fleft ul,
.devsitePage .body .fright ul{list-style-type:square;margin:0;padding:0 0 0 20px}
.devsitePage .body .fleft ul li,
.devsitePage .body .fright ul li{margin:0 0 10px 0}
.devsitePage .body .fcol{float:left;width:231px}
.devsitePage .body .poq{background:#f1f2f9;margin-bottom:20px;margin-top:-20px;padding:20px}
.devsitePage .body .poq p{color:#666}
.devsitePage .body .poq p.small{color:#999;font-size: 12px;margin:0}
.devsitePage .body .poq .credit img.left{margin-right:10px}
.devsitePage .body .poq.right{float:right;margin-left:20px;width:280px}
.devsitePage .body .poq.left{float:left;margin-right:20px;width:280px}
.devsitePage .body .pagebottom{border-top:1px solid #ddd;clear:both;height:25px;padding-top:20px}
.devsitePage .body .pagebottom a.right{float:right}
.devsitePage .body .pagebottom a.left{float:left}
.devsitePage .thumbnail{float:left;margin-right:10px}
.devsitePage .thumbnail .img{border:1px solid #ccc}
.devsitePage .plugin .name, .devsitePage .plugin .desc{margin-left:143px}
.devsitePage .plugin .name{font-size: 17px;line-height:24px}
.devsitePage .timestamp{color:#666;font-size: 12px}
.devsitePage .clearcols{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0}
.devsitePage .menu{
                    background:#3b5998;
                    font-weight:bold;
                    padding-top:8px
                  }
.devsitePage .menu .content{
                    background:#627aad;
                    border:1px solid #1a3c6c;
                    border-bottom:0;
                    margin:0 auto;
                    padding:10;
                    width:980px;
                    font-size:16px
                  }

.devsitePage .menu,
.devsitePage .menu a{color:#fff}
.devsitePage .menu a.logo{margin-right:10px;padding:7px 20px 9px;line-height:0}
.devsitePage .menu a.logo img{width:166px;height:17px}
.devsitePage .menu a.logo,
.devsitePage .menu a.l{display:block;float:left}
.devsitePage .menu a.l{line-height:29px;padding:2px 11px 2px}
.devsitePage .menu a.l:hover, .devsitePage .menu a.logo:hover{background:#1a3c6c;text-decoration:none}
.devsitePage .menu .search{float:right;padding:5px 20px 5px 20px;width:280px}
.devsitePage .menu .uiTypeahead{border:0}
.devsitePage .menu .uiTypeahead .wrap{border:0}
.devsitePage .menu .uiSearchInput{border:0}
.devsitePage .menu .uiSearchInput input{width:270px}
.devsitePage .menu .uiSearchInput span{border:0;padding:0}
.devsitePage .menu .uiSearchInput button{top:1px}
.devsitePage .menu .uiTypeaheadView{z-index:1}
.devsitePage .menu .uiTypeaheadView li{color:#3b5998}
.devsitePage .menu .inputtext{border:0;padding:5px 4px}
.devsitePage .menu{position:fixed;width:100%;z-index:100}
.devsitePage #navsubsectionpages{margin-top:20px}
.devsitePage #navsubsectionpages h5{color:#777;font-size: 12px;margin:25px 0 10px 10px}
.devsitePage #navsubsectionpages ul{margin-left:10px}
.devsitePage #navsubsectionpages li{border:0;font-size: 12px;padding:1px 0}
.devsitePage #navsubsectionpages li a{padding:0}
.devsitePage .bodyText{
  margin-left:208px
}


/*
.devsitePage .bodyMenu li a.private.selected{
	background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yE/r/JQgQHls27pw.png),url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/uADs2cgkzVe.png);
	background-position:160px center, left center;background-repeat:no-repeat, no-repeat}

*/
.devsitePage .bodyMenu li a.private{margin-left:5px}
.devsitePage .bodyMenu{float:left;overflow:hidden;width:166px}
.devsitePage .bodyMenu.fixed{position:fixed}
.devsitePage .bodyMenu.fixedScrolling{bottom:0}
.devsitePage .bodyMenu .title{color:#666;font-size: 25px;font-weight:normal;line-height:28px;margin:0;padding:0}
.devsitePage .bodyMenu ul{list-style-type:none;padding:0;margin:0;margin-bottom:0}
.devsitePage .bodyMenu li{margin:0}
.devsitePage .bodyMenu h4,
.devsitePage .bodyMenu li a{padding:6px 6px 6px 10px}
.devsitePage .bodyMenu h4{font-size: 17px;font-weight:normal;color:#666;padding-top:0;padding-bottom:0;margin-bottom:8px}
.devsitePage .bodyMenu li a{display:block}

/*
.devsitePage .bodyMenu li a.selected{color:#333;font-weight:bold;background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yE/r/JQgQHls27pw.png) no-repeat right center}

*/
.devsitePage .bodyMenu li ul.subsections li a.selected{background-image:none}
.devsitePage .body.reference hr{border:0;background-color:#d2d2d2;height:1px;margin:0;margin-top:40px}
.devsitePage .body.reference h2{font-weight:normal;color:#666;font-size: 17px;margin-bottom:16px}
.devsitePage .body div.fql_example{margin-bottom:1em}
.devsitePage .bodyMenu .toplevelnav ul.subsections{margin:0;padding:0}
.devsitePage .bodyMenu .toplevelnav li{border-bottom:1px solid #e5e5e5}
.devsitePage .bodyMenu .toplevelnav li.active.withsubsections{padding-bottom:5px}
.devsitePage .bodyMenu .toplevelnav li:first-child{border-top:1px solid #e5e5e5}
.devsitePage .bodyMenu .toplevelnav ul.subsections li{border:0;padding:0 0 0 25px}
.devsitePage .bodyMenu .toplevelnav ul.subsections li a{color:#333;font-size: 13px;padding:3px 6px}

/*
.devsitePage .bodyMenu .toplevelnav li a:hover{
			background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yE/r/JQgQHls27pw.png)no-repeat right center;color:#333;
			text-decoration:none}

*/

.devsitePage .bodyMenu .toplevelnav li ul.subsections li a:hover{background-image:none}
.devsitePage .bodyMenu .toplevelnav ul li img.imgWrap{float:left;margin:6px 0 0 5px}
.devsitePage .bodyMenu .toplevelnav ul li a.aWrap{display:inline-block;width:128px}

#bootloader_5UlL1 { height: 42px; }
