
/* GENERIC */

body
{
	margin: 0;
	font-family: '微软雅黑',Tahoma;
	font-size: 12px;
	line-height: 180%;
	color: #616161;
    background: #f8f8f8;
}

p
{
	margin: 5px 0px;
}

a
{
	color: #616161;
	text-decoration:none;
}

a:hover
{
	text-decoration: none;
}

h1
{
   font-size: 14px;
   margin: 30px 0;
}

h2
{
   font-size: 14px;
   font-weight: normal;
   margin: 10px 0 0;
}

h3
{
   font-size: 12px; 
   font-weight: normal;
   margin: 10px 0 0;
}

ol
{
}

ul
{
	list-style-image: url("/images/ul.gif");
}

dt
{
    background: url("/images/dt.gif") no-repeat;
    padding-left: 14px;
    margin: 20px 0 6px;
}

dd
{
    background: url("/images/dd.gif") no-repeat;
    padding-left: 14px;
    margin: 0;
}

/* PAGE LAYOUT */

.page
{
	width: 762px;
	margin: 0 auto;
}

/* HEADER */

.header
{
	background: url("/images/header.jpg") no-repeat;
    position: relative;
    height: 140px;
    z-index: 1;
    margin: 10px 0 10px;
}

.logo
{
	height: 62px;
	width: 257px;
	position: absolute;
	z-index: 2;
	left: 235px;
	top: 20px;
}
.logo a
{
	display: block;
	height: 62px;
	width: 300px;
}

.topmenu
{
	position:absolute;
	right: 10px;
	top: 2px;
	z-index: 1;
}

.sitemapa
{
	position: absolute;
	top: 102px;
	z-index: 0;
	text-align: center;
	line-height: normal;
	left: 0px;
}

.loginstatus
{
	display: none;
}

.welcome
{
	position: absolute;
	right: 20px;
	top: 65px;
}


.ctl00_sitemapa_1 {
    text-decoration: none;
}

.ctl00_sitemapb_1 {
    text-decoration: none;
}


.ctl00_sitemapb_3 {
    border-style: none;
}

.ctl00_sitemapb_5 {
    border-style: none;
}



/* BODY */

.body
{
	background: url("/images/body.gif");
}

.body-t
{
	background: url("/images/body-t.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Images/body-t.gif*/ no-repeat;
}

.body-b
{
	background: url("/images/body-b.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Images/body-b.gif*/ bottom no-repeat;
}

.content-title
{
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
	margin: 20px 20px 30px;
	text-align: center;
}

.content-path
{
	margin: 10px 0;
}

.section-title
{
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
	margin: 40px 20px;
	text-align: right;
}

.floatbar
{	
	position: absolute;
	left: 50px;
	top: 120px;
	width: 150px;
	height:330px;
	background: url("/images/facebookBadge.png") no-repeat;
	z-index: 3;
}

.closeIcon
{
	position: absolute;
	right: 2px;
	top: 50px;
}

.controlbar
{
	background: #fff;
	padding: 14px;
}

/* FOOTER */

.footer
{
	background: url("/images/footer.gif")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Images/footer.gif*/ no-repeat;
	padding: 12px 0;
	margin: 11px auto 0;
}

.sitemapb
{
}

.copyright
{
	margin: 16px 0;
}

.copyright,
.copyright a
{
	color: #999999;
}

.copyright a
{
	text-decoration: none;
}

.copyright a:hover
{
	text-decoration: underline;
}

/* ONECOLUMNPAGE */

.sidebar
{
	display: none;
}

.rightbar
{
	display: none;
}

.content
{
	padding: 10px 20px 30px;
}

/* ONECOLUMNPAGE-OPEN */

.onecolumnpage-open .body
{
	background: none;
}

.onecolumnpage-open .body-t
{
	background: none;
}

.onecolumnpage-open .body-b
{
	background: none;
}

.onecolumnpage-open .content
{
	padding: 0;
}

/* ONECOLUMNPAGE-PICTURE */

.onecolumnpage-picture .content
{
	padding: 0;
}

/* ONECOLUMNPAGE-OUT */

.onecolumnpage-out .body
{
	margin: 0 -100px 0 -100px;
	background: none;
}

.onecolumnpage-out .body-t
{
	background: none;
}

.onecolumnpage-out .body-b
{
	background: none;
}

.onecolumnpage-out .content
{
    padding: 0;
}


/* TWOCOLUMNPAGE */

.twocolumnpage .sidebar
{
	display: block;
	width: 160px;
	float: left;
}

.twocolumnpage .content
{
	margin-left: 170px;
}

/* THREECOLUMNPAGE */

.threecolumnpage .sidebar
{
	display: block;
	width: 200px;
	float: left;
}

.threecolumnpage .rightbar
{
	display: block;
	width: 200px;
	float: right;
}

.threecolumnpage .content
{
	margin-left: 210px;
	margin-right: 210px;
}

/* MENU */

.topmenu table.item
{
	padding-left: 8px;
}

.topmenu-submenu
{
	border: solid 1px silver;
	padding-top: 8px;
	z-index: 1;
   
}

.topmenu-submenu table.item
{
	padding: 4px 16px;
	line-height: normal;
}

.sitemapa .item a
{
	display: block;
	width: 95px;
	height: 38px;
}

.sitemapa .item-hover a
{
}

.sitemapa .item-selected a
{
}

.sitemapb .item td
{
	border-left: solid 1px #999999;
	padding: 0 14px;
}

.sitemapb .item a
{
	color: #999999;
	line-height: normal;
}

.catmenu
{
	margin: 20px;
}

.catmenu-submenu
{
	border: solid 1px silver;
	padding-top: 8px;
}

.catmenu-submenu a.item
{
	padding: 4px 16px;
}

/* DARK */

.dark
{
    background: #292929;
}

/* DARK PAGE LAYOUT */

.dark .page
{
	width: 770px;
	margin: 0 auto;
}

/* DARK HEADER */

.dark .header
{
	background: url("/images/dark-header.jpg")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-header.jpg*/ no-repeat;
    position: relative;
    height: 141px;
    z-index: 1;
    margin: 10px 0 10px;
}

.dark .topmenu
{
	position:absolute;
	right: 10px;
	top: 2px;
	z-index: 1;
}

.dark .sitemapa
{
	position: absolute;
	top: 103px;
	z-index: 0;
	text-align: center;
	line-height: normal;
	left: 3px;
}

.dark .loginstatus
{
	display: none;
}

.dark .welcome
{
	position: absolute;
	right: 20px;
	top: 65px;
}

/* DARK BODY */

.dark .body
{
	background: url("/images/dark-body.jpg")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-body.jpg*/;
}

.dark .body-t
{
	background: url("/images/dark-body-t.jpg")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-body-t.jpg*/ no-repeat;
}

.dark .body-b
{
	background: url("/images/dark-body-b.jpg")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-body-b.jpg*/ bottom no-repeat;
}

/* DARK FOOTER */

.dark .footer
{
	background: url("/images/dark-footer.jpg")/*tpa=http://www.laoluo.com.cn/App_Themes/Laoluo/Dark/dark-footer.jpg*/ no-repeat 1px 0;
	padding: 12px 4px;
	margin: 11px auto 0;
}

.dark .sitemapb
.dark .sitemapb a
{
	color: #938f8f;
}

.dark .copyright
{
	margin: 16px 0;
}

.dark .copyright,
.dark .copyright a
{
	color: #938f8f;
}

.dark .copyright a
{
	text-decoration: none;
}

.dark .copyright a:hover
{
	text-decoration: underline;
}



/* BODY */

.body
{
	
	overflow: hidden;
}

.content
{
	height: 100%;	/* for IE6 */
}

*html .content
{
	overflow: hidden;	/* for IE6 */
}

.sidebar a
{
	text-decoration: none;
}

.clear
{
	clear: both;
	height: 0;
}

/* FOOTER */

.footer
{
	clear: both;
}

