
/* WEBPART */

.webpartzone
{
	width: 100%;
}

.webpartchrome
{
	table-layout: auto;
	width: 100%; /* for firefox */
	overflow: hidden; /* for firefox */
}

.webpart-verbs
{
	float: right;
}

.ContentZoneL,.ContentZoneR
{
	vertical-align: top;
}

/* HTMLPART */

.htmlpart
{
	overflow: hidden;
	width: 100%; /* for IE6 */
}


.webpart-body #main
{
	margin-left:40px;
	margin-right:33px;
	
	border:0px solid;
}


/* 文章 */
.webpart-body #main .post .title h2
{
	height:25px;
	font-weight:600;
	font-size:15px;
	background-color:#eeeeee;
	padding-top:5px;
	text-indent:10px;
	border:solid #e7e8d8 1px;
	border-bottom:solid #888888 1px;
	border-right:solid #88e8d8 1px;
}
.webpart-body #main .post .content
{
	margin-top:5px;
	margin-left:5px;
	text-indent:20px;
}	
.webpart-body #main .post .info
{
	text-align:right;
	margin-top:5px;
	border-bottom:0px dashed;
	height:30px;
	padding-top:5px;
}
.webpart-body #main .post .info span
{
	margin:0 8px;
}
.webpart-body #main .post .info span.read
{
}
.webpart-body #main .post .info span.comment
{
		
}


/* faq */
.webpart-body #main .faq 
{
	margin:7px 0;
}
.webpart-body #main .faq .question
{
	font-weight:500;
	font-size:17px;
	margin-bottom:4px;
}
.webpart-body #main .faq .answer
{
	background-color:#aaaaaa;	
	color:#400040;
	text-indent:25px;
	padding:10px 5px;
	display:none;
}

/* 教师  */
.webpart-body #main .teacher
{
	background: #3c3c3c;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
.webpart-body #main .teacher img
{
	border:6px solid #999;
	width:143px;
	height:209px;
}
.webpart-body #main .teacher .teacher_photo
{
	float:left;
}
.webpart-body #main .teacher .teacher_resume
{
	float:right;
	color:#eeeeee;	
	border:0px solid;
	width:520px;
	height:218px;
}

.teacher_resume a
{
	color: #b5edbc;
}

.teacher_resume a:hover
{
	text-decoration: underline;
}

