
/* WEBPART */

.webpartchrome
{
}

.webpart-header
{
	font-size: 16px;
	font-weight: bold;
    margin: 40px auto;
	padding: 4px 0;
	text-align: center;
	white-space: nowrap;
	overflow: hidden; /* for firefox */
}

.webpart-header,
.webpart-header a
{
	text-decoration: none;
}

.webpart-header a:hover
{
	text-decoration: underline;
}

.webpart-border .webpart-body
{
	text-align:left; 
	margin-top:0px; 
	border:0px solid #3b5999; 
	padding:20px 90px;
}

.webpart-border
{	
}

.webpart-border-2
{
	background: url("/images/webpart-border.gif") no-repeat top;
}

.webpart-border-3
{
	background: url("/images/body-b.gif") no-repeat bottom;
}



/* HTMLPART */

.htmlpart
{
}

/*  WEBPARTENTRY */

.webpartchrome .entry
{
	/*
margin: 25px 30px;
*/
}

.webpartchrome .entry,
.webpartchrome .entry a
{
    text-decoration: none; 
}

.webpartchrome .entry-title
{
	/*
	margin: 0;
	padding: 0;
	font-weight: normal;
	*/
}

.webpartchrome .entry-author
{
    border: none;
	float: right;
	margin: 0;
	padding: 0;
	color: #9b9a9a;
}

/*  课程内容  */
.webpartchrome .entry-content
{
	padding-top: 1px;
	font-size: 12px;
	line-height: 150%;
}

.webpartchrome .entry-more
{
	font-size: 12px;
    text-align: right;
    margin: 10px 0;
}

.webpartchrome .entry-more a
{
	color: #9b9a9a;
}