<% content_for("layout_css") do %>
#ctl00_sitemapan2 .item a
{
	background: url("/images/sitemapa-item2-selected.gif") no-repeat;
}
<% end %>

<table cellspacing="0" cellpadding="0" border="0" id="ctl00_Main_ContentZone2" class="webpartzone" style="width:100%;">
    <tr>
        <td style="height:100%;">
            <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                <tr>
                    <td>
                    <table id='WebPart_wp808377929' class='webpartchrome' cellpadding='0' cellspacing='0'>
                        <tr>
                            <td>
                                
								<div class='webpart-border'>
                                    <div class='webpart-border-2'>  <!-- 多个div的作用是加载多个圆角直线作为背景图片,这个div的背景图片是一个白色的图片  -->
                                        <div class='webpart-border-3'>
                                            <div class='webpart-border-4'>
                                               
											    <div class='webpart-body'  style="text-align:left; margin-top:0px; border:0px solid #3b5999; padding:20px 90px; ">
														
														<div class="entry">
                                                            <div class="entry-title">
                                                                   	第一阶段课程 Java SE
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table  cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">Java初级知识</font></td>
																	<td>
																				&nbsp;&nbsp;Java语言，体系介绍
																				原生数据类型和包装数据类型
																				Java代码执行时内存结构剖析
																				面向对象程序设计思想
																				继承、多态、封装三大面向对象基本特征
																				类、接口、抽象类区别与联系详细解析
																				Java关键字介绍（final、static、class、this、super等）
																				剖析方法参数的传递机制
																				Java异常体系讲解
																	</td>					
																</tr>
																<tr>
																	<td>Java中级知识</td>
																	<td>
																			&nbsp;&nbsp;多线程机制剖析
																			I/O流分类详解
																			网络编程（Socket、Tcp/IP、URL）
																			Java动态代理和反射机制
																		    AWT与Swing介绍（观察者设计模式讲解）
																	</td>					
																</tr>
																<tr>
																	<td>Java高级知识</td>
																	<td>
																			&nbsp;&nbsp;JVM内存管理深入分析
																			java垃圾回收机制
																			类加载过程详细剖析（ClassLoader）
																	</td>					
																</tr>
																<tr>
																	<td>项目实战</td>
																	<td>
																		&nbsp;&nbsp;基于AWT的浏览器开发，WEB服务器开发
																	</td>					
																</tr>
																	
															</table>
															</div>
                                                        </div>
														
                                                       <div class="entry">
                                                            <div class="entry-title"">
                                                                   	第二阶段课程 关系型数据库
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">Oracle</font></td>
																	<td>
																			&nbsp;&nbsp;Oracle数据库的安装配置（全局名、监听器配置）和卸载
																			表空间、用户、权限、视图，使用sqlplus操作数据库
																			数据库事务、隔离级别以及锁机制
																			SQL语言详解（DQL、DML、DDL、DCL语言，多表级联查
																		   询、左连接右连接、内连接和外连接）
																		PL/SQL开发、存储过程、触发器的编写
																	</td>					
																</tr>
																<tr>
																	<td>MySQL</td>
																	<td>
																				&nbsp;&nbsp;MySQL5.0数据库的安装配置（linux课程中会详细介绍从源 
																				   码安装Mysql数据库过程）
																					数据库字符集原理及Mysql数据库引擎介绍
																					常用操作命令、批量执行sql脚本
																				Navicatlite（windows）客户端使用
																	</td>					
																</tr>
																<tr>
																	<td>JDBC</td>
																	<td>
																				&nbsp;&nbsp;JDBC详述
																				JDBC API 分析（Connection、Statement、ResultSet）
																				JDBC连接数据库步骤详解
																				数据库连接池原理分析
																			DAO模式详解（数据访问对象）
																	</td>					
																</tr>
															</table>
															</div>
                                                        </div>
														
                                                        <div class="entry">
                                                            <div class="entry-title"">
                                                                   	第三阶段课程 面向对象建模
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table border="1" cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">UML（统一建模语言）</font></td>
																	<td>
																			&nbsp;&nbsp;类  图 	用例图 时序图  活动图  部署图  Rational Rose工具使用
																	</td>					
																</tr>
																<tr>
																	<td width="15%">关系数据库建模</td>
																	<td>
																				&nbsp;&nbsp;PowerDesign使用
																	</td>					
																</tr>
															</table>
															</div>
                                                        </div>
														
														
														 <div class="entry">
                                                            <div class="entry-title"">
                                                                   	第四阶段课程 Java WEB
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table border="1" cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">Web基础知识</font></td>
																	<td>
																			&nbsp;&nbsp;	Web介绍
	JavaEE体系介绍
	HTML常用标签详解
	HTTP协议深度剖析
GET、POST与HTTP协议
																	</td>					
																</tr>
																<tr>
																	<td>CSS（层叠样式表）</td>
																	<td>
																				&nbsp;&nbsp;	基本使用方法（ID、CLASS选择器）
	css链式调用等使用方式
chrome下css调试技术
																	</td>					
																</tr>
																<tr>
																	<td>JSP</td>
																	<td>
																				&nbsp;&nbsp;	JSP组件介绍
	JSP内置对象使用
	JSP表达式
	EL表达式
	JSP自定义标签库
Redirect和Dispatch的本质区别剖析
																	</td>					
																</tr>
																<tr>
																	<td>Servlet</td>
																	<td>
																				&nbsp;&nbsp;		Servlet概念和原理详解
	Servlet生命周期
	Servlet重要API分析
	Servlet与JSP之间的转换
Servlet多线程机制剖析
																	</td>					
																</tr>
																<tr>
																	<td>Filter</td>
																	<td>
																				&nbsp;&nbsp;	Filter原理解析
	Filter过滤对象分析
Filter实际应用开发
																	</td>					
																</tr>
																<tr>
																	<td>Listener</td>
																	<td>
																				&nbsp;&nbsp;	Listener原理解析
	Listener分类详解
Listener实际开发应用
																	</td>					
																</tr>
																<tr>
																	<td>Session、Cookie</td>
																	<td>
																				&nbsp;&nbsp;	Session原理机制和实际应用场景
	Cookie原理机制和实际应用场景
Cookie与Session的关系
																	</td>					
																</tr>
																<tr>
																	<td>XML</td>
																	<td>
																				&nbsp;&nbsp;	XML介绍
	DTD和Schema分析
XML解析方案（dom4j和jdom详解）
																	</td>					
																</tr>
																<tr>
																	<td>JavaScript</td>
																	<td>
																				&nbsp;&nbsp;	Javascript基础语法、控制语句、运算符与内置对象
	对象和数组、函数定义方式
	类、构造函数和原型（prototype）
DOM编程
																	</td>					
																</tr>
																<tr>
																	<td>Ajax</td>
																	<td>
																				&nbsp;&nbsp;	XMLHttpRequest对象实现Ajax调用原理深度分析
DWR框架详解
																	</td>					
																</tr>
																<tr>
																	<td>JQuery</td>
																	<td>
																				&nbsp;&nbsp;	JQuery原理分析
	JQuery常用API解析
	JQuery的ajax调用过程详解
JQuery动态操作dom元素 
																	</td>					
																</tr>
																<tr>
																	<td>项目实战</td>
																	<td>
																				&nbsp;&nbsp;DRP系统（JSP+Servlet+JDBC+JavaBean+Oracle)
																	</td>					
																</tr>
															</table>
															</div>
                                                        </div>
														
														<div class="entry">
                                                            <div class="entry-title"">
                                                                   	第五阶段课程 Java WEB框架
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table border="1" cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">Struts2</font></td>
																	<td>
																				&nbsp;&nbsp;	Struts发展概述
	Filter技术与strut以及Action讲解
	类型转换与校验机制
	Action配置文件详解
	异常处理和国际化
	文件上传
	插件机制原理分析
																	</td>					
																</tr>
																<tr>
																	<td>Hibernate</td>
																	<td>
																			&nbsp;&nbsp;	Hibernate介绍
	ORM思想
	配置文件详解
	一对一、一对多、多对多关联映射剖析
	映射继承、联合主键映射讲解
	数据库事务再回顾，悲观锁乐观锁
	Hibernate拦截器和监听器讲解
	Hibernate一级缓存和二级缓存
	Hibernate抓取策略和查询缓存
处理并发和hibernate性能优化
																	</td>					
																</tr>
																<tr>
																	<td>Spring</td>
																	<td>
																			&nbsp;&nbsp;	Spring框架发展介绍
	IoC和DI原理详细分析（结合抽象工厂模式）
	AOP原理详解（结合java动态代理）
	Spring配置文件详解
	申明式事务实现原理
	数据库连接池和多数据源配置
Hibernate、Struts2、Spring的集成原理及实现
																	</td>					
																</tr>
																<tr>
																	<td>项目实战</td>
																	<td>
																		&nbsp;&nbsp;某政府部门内部使用的大型OA系统（S2SH)
																	</td>					
																</tr>
																	
															</table>
															</div>
                                                        </div>
														
														<div class="entry">
                                                            <div class="entry-title"">
                                                                   	第六阶段课程 版本控制和日志处理
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table border="1" cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">SVN</font></td>
																	<td>
																				&nbsp;&nbsp;	Svn介绍和常规操作（svn协议、import、append、commit）
	TortoiseSVN客户端的安装和使用
Eclipse的svn插件subeclipse安装和使用
																	</td>					
																</tr>
																<tr>
																	<td>Log4J</td>
																	<td>
																			&nbsp;&nbsp;	Log4j日志功能介绍
Log4j配置详解（Logger、appender、layout、输出级别）
																	</td>					
																</tr>
																<tr>
																	<td>JUnit</td>
																	<td>
																			&nbsp;&nbsp;	JUnit3.8详解
测试用例编写最佳实践
																	</td>					
																</tr>
															</table>
															</div>
                                                        </div>
														
														
														<div class="entry">
                                                            <div class="entry-title"">
                                                                   	第七阶段课程 Web Service开发
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table border="1" cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">WebService开发</font></td>
																	<td>
																				&nbsp;&nbsp;	Soap协议分析（与Dcom和Corba之间的区别联系）
	Apache CXF框架实例分析
Axis1.x实例剖析
																	</td>					
																</tr>
																
															</table>
															</div>
                                                        </div>
														
														<div class="entry">
                                                            <div class="entry-title"">
                                                                   	第八阶段课程 企业级系统开发实战
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table border="1" cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">企业级开发过程控制</font></td>
																	<td>
																				&nbsp;&nbsp;	项目管理工具Project2003使用
	需求分析、原型设计、需求规格说明书、详细设计文档、用例
   文档、评审报告、数据库设计文档、测试文档以及开发手册
   等等各种文档的编写
																	</td>					
																</tr>
																<tr>
																	<td width="15%"><font color="red">企业开发实战</font></td>
																	<td>
																				&nbsp;&nbsp;	本阶段完全按照目前软件公司内部的运作流程，按项目小组进 
   行软件的需求调研，代码开发版本管理，以及测试与bug修
   复和最后的上线全过程
	在讲师的指导下，综合运用前七个阶段学习的知识点，分模块 
   分小组进行开发，以此进一步融汇贯通所有的知识点，以及
   真正软件企业中开发的全部流程   
																	</td>					
																</tr>
																<tr>
																	<td width="15%"><font color="red">应用服务器介绍及项目部署上线过程详解</font></td>
																	<td>
																				&nbsp;&nbsp;Tomcat	Weblogic Jboss
																	</td>					
																</tr>
																<tr>
																	<td width="15%"><font color="red">实战项目</font></td>
																	<td>
																				&nbsp;&nbsp;国家金审OA项目 
																	</td>					
																</tr>
															</table>
															</div>
                                                        </div>
														
														<div class="entry">
                                                            <div class="entry-title"">
                                                                   	第九阶段课程 Linux、项目部署实战
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table border="1" cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">Linux常用操作</font></td>
																	<td>
																				&nbsp;&nbsp;	Linux常规命令操作
	Linux上软件安装（mysql数据库源码安装、svn源码安装）
   和卸载
Linux上jdk安装、tomcat安装
																	</td>					
																</tr>
																<tr>
																	<td width="15%"><font color="red">Linux下项目部署</font></td>
																	<td>
																				&nbsp;&nbsp;	Linux下项目部署过程（tomcat）
Linux下应用的启动和关闭，应用性能监测和调优
																	</td>					
																</tr>
																</table>
															</div>
                                                        </div>
														
														
														<div class="entry">
                                                            <div class="entry-title"">
                                                               		    第十阶段课程 面 试
                                                            </div>
                                                            <div class="entry-content" style="border:0px solid #3b5999;">
															<table border="1" cellspacing="0" width="100%">
																<tr>
																	<td width="15%"><font color="red">常见面试题讲解</font></td>
																	<td>
																				&nbsp;&nbsp;面向对象、集合、web原理，框架以及SQL语句等常用面试题讲解
																	</td>					
																</tr>
																<tr>
																	<td width="15%"><font color="red">面试场景训练</font></td>
																	<td>
																				&nbsp;&nbsp;面试场景综合训练  
																	</td>					
																</tr>
															</table>
															</div>
                                                        </div>
														
														
														
														
                                                    </div>
                                                </div> </div> </div> </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0;height:100%;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
