<% content_for("layout_css") do %>
#ctl00_sitemapan4 .item a
{
	background: url("/images/sitemapa-item5-selected.gif") no-repeat;
}
<% end %>

<% content_for("layout_js") do %>
$(document).ready(function(){
	$(".faq a").bind("click",function(){
		 $(this).parent().parent().find(".answer").slideToggle(500);
	});   
}); 

<% end %>
<table cellspacing="0" cellpadding="0" border="0" id="ctl00_Main_ContentZone2" class="webpartzone" style="width:100%;">
    <tr>
        <td style="height:100%;">
            <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                <tr>
                    <td>
                    <table id='WebPart_wp808377929' class='webpartchrome' cellpadding='0' cellspacing='0'>
                        <tr>
                            <td>
                            	
								<div class='webpart-border'>
                                    <div class='webpart-border-2'>  <!-- 多个div的作用是加载多个圆角直线作为背景图片,这个div的背景图片是一个白色的图片  -->
                                        <div class='webpart-border-3'>
                                            <div class='webpart-border-4'>
                                               
											    <div class='webpart-body'  style="text-align:left; margin-top:0px; border:0px solid #3b5999; padding:20px 90px; ">
													<div id="main">
															
														<div class="faq">
															<div class="question">
																<a href="#"><font color="blue"> [颗米] </font>是干什么的？</a>
															</div>
															<div class="answer">
																我们是专业从事JAVA企业级软件开发人才培养的培训机构；目前是由我一个人来进行授课，我是谁？请看<a href="/index/teachers">这里</a>。<br/>
																&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们不是等级考试培训，不是网络工程师培训，我们只培养企业级开发所需要的java软件中高级工程师。
																
															</div>
														</div>
														<div class="faq">
															<div class="question">
																<a href="#">那些人可以参加培训？</a>
															</div>
															<div class="answer">
																想从事软件开发工作的有志青年，已经毕业的大学理工科毕业生，或者在校的大三大四理工科学生，要求你对软件开发行业有兴趣。
															</div>
														</div>
														<div class="faq">
															<div class="question">
																<a href="#">你们包就业吗？</a>
															</div>
															<div class="answer">
																亲！现在已经过了大锅饭年代了，只有你自己知道哪家公司才是适合你的；学了真本事还怕找不到工作？
																我们不包就业，我们只是推荐你到合适的软件公司，决定权在你自己！
															</div>
														</div>
														<div class="faq">
															<div class="question">
																<a href="#">颗米的优势？</a>
															</div>
															<div class="answer">
																我们给你提供真实的企业软件项目（不再是教学项目），
																带你从零开始，走完整个软件开发过程，在这种真实的环境下，你能通过真实的软件项目迅速掌握所学知识点和领会软件设计思想，
																并能实际加以运用；颗米的讲师来自北京一线开发人员，不是项目经理（项目经理不一定懂开发），让他告诉你项目开发中最适合的技术和理论，这些就是我们的优势！
															</div>
														</div>
														<div class="faq">
															<div class="question">
																<a href="#">真的可以轻轻松松，高薪就业？</a>
															</div>
															<div class="answer">
																别逗了，除了睡觉，做那件事情可以轻轻松松？我们用脚想一下就明白，企业不会白给你发工资，你要付出你的劳动，
																作为高脑力劳动的程序员，更不会轻松；我们感到"轻松"，是因为这个过程：<font color="red">遇到问题->
																解决->没反应->再次尝试->没反应->着急->没反应->冷静->搞定->喜悦->分享</font>，当你由量变到质变后，
																高薪自然不是问题。
															</div>
														</div>
														
														
														
														
														
														
													</div>	
                                                </div>
												
                                            </div> 
										</div> 
									</div> 
								</div>
								
                            </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0;height:100%;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>