<% content_for("layout_css") do %>
#ctl00_sitemapan6 .item a
{
	background: url("/images/sitemapa-item6-selected.gif") no-repeat;
}
<% end %>


<table cellspacing="0" cellpadding="0" border="0" id="ctl00_Main_ContentZone2" class="webpartzone" style="width:100%;">
    <tr>
        <td style="height:100%;">
            <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                <tr>
                    <td>
                    <table id='WebPart_wp808377929' class='webpartchrome' cellpadding='0' cellspacing='0'>
                        <tr>
                            <td>
                            	
								<div class='webpart-border'>
                                    <div class='webpart-border-2'>  <!-- 多个div的作用是加载多个圆角直线作为背景图片,这个div的背景图片是一个白色的图片  -->
                                        <div class='webpart-border-3'>
                                            <div class='webpart-border-4'>
                                               
											    <div class='webpart-body'>
												<div id="main">
													
													<div class="teacher">
														<div class="teacher_photo">
															<img  src="/images/yangchangming.jpg" />
														</div>
														<div class="teacher_resume">
															杨昌明，非架构师，非项目经理，一线程序员；曾任职于北京用友软件工程有限公司IT应用研究院(ITARI)，从事项目支持、技术团队培训和<a href="http://cto.csdn.net/Article.aspx?Name=chijianqiang&pointid=147">USE-GAP平台</a>的研发工作。
															<br/>
															参与项目(部分)：
															<ul>
																<li><a href="http://cto.csdn.net/Article.aspx?Name=chijianqiang&pointid=147">USE-GAP平台</a>研发</li>
																<li>中国联通浙江分公司监控系统</li>
																<li>中国联通工单闭环系统 UnicomSheet</li>
																<li><a href="http://www.hollycrm.com/Solutions/ccsolutions/62.html">新一代智慧客服平台HOLLYV8</a></li>
																<li>北京某企业内部CRM系统</li>
																<li><a href="http://www.gapp.gov.cn/cms/html/21/index.html">中国国家新闻出版总署门户网站系统</a></li>
																<li>中国联通和网通融合项目(辽宁省联通)</li>
																
																
															</ul>
														</div>
													<div style="clear:both;"></div>
													</div>
													
													
												</div>		
                                                </div>
												
                                            </div> 
										</div> 
									</div> 
								</div>
								
                            </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0;height:100%;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>