<!--
<div class="leftbox"> 
-->
<div class="left_wrapper"> 

	<div class="box" > 
    <h1>登录</h1> 
    
	<% form_for (:user,:url=>{:action=>'login'}) do |form| %>
	
      <div class="row string email required">
      	<label class="email required" for="user_email">邮箱 </label><br/>
	  	 <%= form.text_field :email %>
	  </div> 
	  <br/>
      <div class="row password required">
      	<label class="password required" for="user_password">密码 </label><br/>
	  	<%= form.password_field :password %>
	  </div> 
	  <br/>
	  
	<!--
	    <div class="row">
	    	<input name="user[remember_me]" type="hidden" value="0" />
			<input id="user_remember_me" name="user[remember_me]" style="width:auto;" type="checkbox" value="1" /> 
			<label for="user_remember_me" style="display:inline;">记住登录状态</label>
		</div> 
		<br/>
	-->


    <div class="actions">
    	<button type="submit" class="button submit">登录</button>
	</div> 
	
	<% end %>
	
</div>
 
  <div class="box" style="margin-top:20px;"> 
    <div class="inner" style="line-height:180%;padding:8px;background:#fff5c9;"> 
     祝你在这里玩的愉快!
    </div> 
  </div> 
  
  
</div> 
 
	
	 
	  <!--侧边栏 开始 -->
<div class="sidebar" > 
<div class="box"> 
	 <h2>还没有帐号？</h2> 
  <a href="/register">注册</a><br />
  <a href="/forgetPasswd">忘记了密码?</a><br /> 
</div> 
</div> 
	  <!-- 侧边栏结束 -->
	  
